@font-face{
	font-family: 'Whois';
	src: url('../fonts/whois-mono.ttf');
}
@font-face{
	font-family: 'Dirtyline';
	src: url('../fonts/Dirtyline 36daysoftype 2022.woff');
	src: url('../fonts/Dirtyline 36daysoftype 2022.ttf');
}